@model ML.ProductoSucursal
@{
    ViewBag.Title = "GetAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row mb-4">
    <div class="col-12">
        <div class="card p-4 shadow">
            <div class="row">
                <div class="col-md-6">
                    @Html.DropDownListFor(model => model.Sucursal.IdSucursal, new SelectList(Model.Sucursal.Sucursales, "IdSucursal", "Nombre"), "Seleccione una Sucursal", new { @class = "form-select", @id = "ddlSucursal" })
                </div>
                <div class="col-md-6 text-end">
                    <button class="rounded-pill btn btn-primary" onclick="GetAll()">
                        <i class="bi bi-search"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row mb-4">
        <div class="col-6 text-start">
            <h2>Productos</h2>
        </div>
    </div>
    <div class="row" id="ContenidoStok">
        <div class="col-md-12">
            <div class="card p-5 border shadow-lg">
                <div class="text-center">
                    <h2 class="fw-bold">No se encontró ningun producto, haga una busqueda</h2>
                    <img src="~/Content/imagenes/BuscarProductos.png" alt="SinProsuctos" class="avatar-img m-5" width="25%" id="img">
                </div>
            </div>
        </div>
    </div>
</div>
<div id="loader"></div>

@Scripts.Render("~/bundles/jquery")
<script src="https://code.jquery.com/ui/1.14.1/jquery-ui.js"></script>
<script src="~/Scripts/loader.js"></script>
<script src="~/Scripts/Espesifics/SweetAlertManager.js"></script>
<script>
    var urlGetAll = '@Url.Action("GetAllProductos", "ProductoStock")?IdSucursal='
</script>
<script src="~/Scripts/Espesifics/ProductoStock/ProductoStock.js"></script>