
@{
    ViewBag.Title = "GetAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid ">
    <div class="row mb-4">
        <div class="col-md-6 text-start">
            <h2>Sucursales</h2>
        </div>
        <div class="col-md-6 text-end">
            <a href="@Url.Action("Form", "Sucursal")" class="btn btn-primary">
                <i class="bi bi-plus-circle-fill"></i>
                <strong>Nueva sucursal</strong>
            </a>
        </div>
    </div>
    <div class="row" id="ContenidoSucursal">
        <div class="col-md-12">
            <div class="card p-5 border shadow-lg">
                <div class="text-center">
                    <h2 class="fw-bold">No se encontró ninguna sucursal</h2>
                    <img src="~/Content/imagenes/mapas.png" alt="SinProsuctos" class="avatar-img m-5" width="25%" id="img">
                </div>
            </div>
        </div>
    </div>
</div>
@{
    string llave = Session["llave"] != null ? Session["llave"].ToString() : "";
    string ruta = $"https://maps.googleapis.com/maps/api/js?key={llave}&libraries=maps,marker";
}
@Scripts.Render("~/bundles/jquery")
<script src="https://code.jquery.com/ui/1.14.1/jquery-ui.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.17.2/dist/sweetalert2.all.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.17.2/dist/sweetalert2.min.css" rel="stylesheet">
<script src="~/Scripts/Espesifics/SweetAlertManager.js"></script>
<script src="@ruta" defer></script>
<script>
    var urlGetAll = '@Url.Action("GetAllRest", "Sucursal")'
</script>
<script src="~/Scripts/Espesifics/Sucursal/Sucursal.js"></script>